set httpd port 2812 and
  use address 192.168.1.145
  allow rick:blauwblauw
 # allow guest:monit readonly

#set mailserver smtp.gmail.com port 22
#  username "rioolserver@gmail.com"
#  password "blauwblauw"
# using ssl
#set alert rickvanruijven@gmail.com